<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>729662234032-t7cqavgsgo49eh8paegmaucge0t4lfdd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729662234032-t7cqavgsgo49eh8paegmaucge0t4lfdd</string>
	<key>API_KEY</key>
	<string>AIzaSyB2dMGfMvb3VmA-npdT9w2lR9JwDO1VB5s</string>
	<key>GCM_SENDER_ID</key>
	<string>729662234032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.redminlab.kMart</string>
	<key>PROJECT_ID</key>
	<string>kmart-6905d</string>
	<key>STORAGE_BUCKET</key>
	<string>kmart-6905d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729662234032:ios:cde4377c796e4acb3a4a75</string>
</dict>
</plist>